{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.factiliza.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/dni/info/{dni}": {
      "get": {
        "tags": ["dni"],
        "description": "Retorna datos segun el DNI",
        "parameters": [
          {
            "name": "dni",
            "in": "path",
            "required": true,
            "style": "simple",
            "description": "El dni a consultar",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "dni response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dni"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/ruc/info/{ruc}": {
      "get": {
        "tags": ["ruc"],
        "description": "Retorna datos segun el RUC",
        "parameters": [
          {
            "name": "ruc",
            "in": "path",
            "required": true,
            "style": "simple",
            "description": "El RUC a consultar",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ruc response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ruc"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/ruc/anexo/{ruc}": {
      "get": {
        "tags": ["ruc"],
        "description": "Retorna anexos segun el RUC",
        "parameters": [
          {
            "name": "ruc",
            "in": "path",
            "required": true,
            "style": "simple",
            "description": "El RUC a consultar",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ruc response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ruc-anexo"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/ruc/representante/{ruc}": {
      "get": {
        "tags": ["ruc"],
        "description": "Retorna representantes segun el RUC",
        "parameters": [
          {
            "name": "ruc",
            "in": "path",
            "required": true,
            "style": "simple",
            "description": "El RUC a consultar",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ruc response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ruc-representate"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/placa/info/{placa}": {
      "get": {
        "tags": ["placa"],
        "description": "Retorna datos segun la placa",
        "parameters": [
          {
            "name": "placa",
            "in": "path",
            "required": true,
            "style": "simple",
            "description": "La placa a consultar",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "placa response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/placa"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/licencia/info/{dni}": {
      "get": {
        "tags": ["dni"],
        "description": "Retorna la licencia de conducir segun el dni",
        "parameters": [
          {
            "name": "dni",
            "in": "path",
            "required": true,
            "style": "simple",
            "description": "El dni a consultar",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "licencia response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/licencia-conducir"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/cee/info/{cee}": {
      "get": {
        "tags": ["cee"],
        "description": "Retorna datos segun la CEE",
        "parameters": [
          {
            "name": "cee",
            "in": "path",
            "required": true,
            "style": "simple",
            "description": "El carnet de extranjeria a consultar",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "cee response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cee"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/tipocambio/info/dia": {
      "get": {
        "tags": ["fecha"],
        "description": "Retorna el tipo de cambio segun la fecha",
        "parameters": [
          {
            "name": "fecha",
            "in": "query",
            "required": true,
            "style": "form",
            "description": "La fecha a consultar. Ejm 2024-01-01",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "cee response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tipocambio"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/sunat/cpe": {
      "post": {
        "description": "Validar comprobantes electrónicos de manera individual",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostCPE"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "plant response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sunat-cpe"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/sunat/factura/{numRuc}-{numSerieComprobante}-{numDocumentoComprobante}": {
      "get": {
        "tags": ["sunat"],
        "parameters": [
          {
            "name": "numRuc",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numSerieComprobante",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numDocumentoComprobante",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "sunat response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sunat-factura"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/sunat/boleta/{numRuc}-{numSerieComprobante}-{numDocumentoComprobante}": {
      "get": {
        "tags": ["sunat"],
        "parameters": [
          {
            "name": "numRuc",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numSerieComprobante",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numDocumentoComprobante",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "sunat response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sunat-boleta"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/sunat/guia/{numRuc}-{numSerieComprobante}-{numDocumentoComprobante}": {
      "get": {
        "tags": ["sunat"],
        "parameters": [
          {
            "name": "numRuc",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numSerieComprobante",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numDocumentoComprobante",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "sunat response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sunat-guia"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/sunat/guia/xml/{numRuc}-{numSerieComprobante}-{numDocumentoComprobante}": {
      "get": {
        "tags": ["sunat"],
        "parameters": [
          {
            "name": "numRuc",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numSerieComprobante",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numDocumentoComprobante",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "sunat response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sunat-guia-xml"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "dni": {
       "type": "object",
      "properties": {
        "status": {
          "type": "integer",
          "description": "El código de estado de la respuesta"
        },
        "success": {
          "type": "boolean",
          "description": "El estado de la respuesta  true o false"
        },
        "message": {
          "type": "string",
          "description": "Mensaje de la respuesta"
        },
        "data": {
          "type": "object",
          "description": "Datos detallados de la respuesta",
          "properties": {
            "numero": {
              "type": "string",
              "description": "Número de identificación (DNI)"
            },
            "nombres": {
              "type": "string",
              "description": "Nombres de la persona"
            },
            "apellido_paterno": {
              "type": "string",
              "description": "Apellido paterno de la persona"
            },
            "apellido_materno": {
              "type": "string",
              "description": "Apellido materno de la persona"
            },
            "nombre_completo": {
              "type": "string",
              "description": "Nombre completo de la persona"
            },
            "departamento": {
              "type": "string",
              "description": "Departamento de residencia"
            },
            "provincia": {
              "type": "string",
              "description": "Provincia de residencia"
            },
            "distrito": {
              "type": "string",
              "description": "Distrito de residencia"
            },
            "direccion": {
              "type": "string",
              "description": "Dirección específica"
            },
            "direccion_completa": {
              "type": "string",
              "description": "Dirección completa, incluyendo distrito, provincia y departamento"
            },
            "ubigeo_reniec": {
              "type": "string",
              "description": "Ubigeo según RENIEC"
            },
            "ubigeo_sunat": {
              "type": "string",
              "description": "Ubigeo según SUNAT"
            },
            "ubigeo": {
              "type": "array",
              "description": "Ubigeo desglosado por componentes",
              "items": {
                "type": "string"
              }
            },
            "fecha_nacimiento": {
              "type": "string",
              "format": "date",
              "nullable": true,
              "description": "Fecha de nacimiento de la persona"
            },
            "sexo": {
              "type": "string",
              "nullable": true,
              "description": "Sexo de la persona"
            }
          }
        }
      },
      "example": {
        "status": 200,
        "success": true,
        "message": "Exito",
        "data": {
          "numero": "27427864",
          "nombres": "JOSE PEDRO",
          "apellido_paterno": "CASTILLO",
          "apellido_materno": "TERRONES",
          "nombre_completo": "CASTILLO TERRONES, JOSE PEDRO",
          "departamento": "CAJAMARCA",
          "provincia": "CHOTA",
          "distrito": "TACABAMBA",
          "direccion": "CASERIO PUÑA",
          "direccion_completa": "CASERIO PUÑA, CAJAMARCA - CHOTA - TACABAMBA",
          "ubigeo_reniec": "060615",
          "ubigeo_sunat": "060417",
          "ubigeo": [
            "06",
            "0604",
            "060417"
          ],
          "fecha_nacimiento": "",
          "sexo": ""
        }
      }
      },
      "ruc": {
       "type": "object",
      "properties": {
        "status": {
          "type": "integer",
          "description": "El código de estado de la respuesta"
        },
        "success": {
          "type": "boolean",
          "description": "El estado de la respuesta  true o false"
        },
        "message": {
          "type": "string",
          "description": "Mensaje de la respuesta"
        },
        "data": {
          "type": "object",
          "description": "Datos detallados de la respuesta",
          "properties": {
            "numero": {
              "type": "string",
              "description": "Número de identificación (RUC)"
            },
            "nombre_o_razon_social": {
              "type": "string",
              "description": "Nombre o Razon Social de la empresa"
            },
            "tipo_contribuyente": {
              "type": "string",
              "description": "Tipo de contribuyente de la empresa"
            },
            "estado": {
              "type": "string",
              "description": "Estado de la empresa"
            },
            "condicion": {
              "type": "string",
              "description": "Condición de la empresa"
            },
            "departamento": {
              "type": "string",
              "description": "Departamento de la empresa"
            },
            "provincia": {
              "type": "string",
              "description": "Provincia de la empresa"
            },
            "distrito": {
              "type": "string",
              "description": "Distrito de la empresa"
            },
            "direccion": {
              "type": "string",
              "description": "Dirección específica"
            },
            "direccion_completa": {
              "type": "string",
              "description": "Dirección completa, incluyendo distrito, provincia y departamento"
            },
            "ubigeo_sunat": {
              "type": "string",
              "description": "Ubigeo según SUNAT"
            },
            "ubigeo": {
              "type": "array",
              "description": "Ubigeo desglosado por componentes",
              "items": {
                "type": "string"
              }
            }
          }
        }
      },
      "example": {
        "status": 200,
        "success": true,
        "message": "Exito",
        "data": {
            "numero": "20552103816",
            "nombre_o_razon_social": "AGROLIGHT PERU S.A.C.",
            "tipo_contribuyente": "SOCIEDAD ANONIMA CERRADA",
            "estado": "SUSPENSION TEMPORAL",
            "condicion": "HABIDO",
            "departamento": "LIMA",
            "provincia": "LIMA",
            "distrito": "SANTA ANITA",
            "direccion": "PJ. JORGE BASADRE NRO. 158 URB. POP LA UNIVERSAL 2DA ET.",
            "direccion_completa": "PJ. JORGE BASADRE NRO. 158 URB. POP LA UNIVERSAL 2DA ET., LIMA - LIMA - SANTA ANITA",
            "ubigeo_sunat": "150137",
            "ubigeo": [
                "15",
                "1501",
                "150137"
            ]
          }
      }
      },
      "ruc-anexo": {
       "type": "object",
      "properties": {
        "status": {
          "type": "integer",
          "description": "El código de estado de la respuesta"
        },
        "success": {
          "type": "boolean",
          "description": "El estado de la respuesta  true o false"
        },
        "message": {
          "type": "string",
          "description": "Mensaje de la respuesta"
        },
        "data": {
          "type": "array",
          "description": "Datos detallados de la respuesta",
          "items": {
            "type": "object",
          "properties": {
            "codigo": {
              "type": "string",
              "description": "Codigo del local"
            },
            "tipo_establecimiento": {
              "type": "string",
              "description": "Tipo de establecimiento del local"
            },
            "actividad_economica": {
              "type": "string",
              "description": "Actividad economica del local"
            },
            "departamento": {
              "type": "string",
              "description": "Departamento del local"
            },
            "provincia": {
              "type": "string",
              "description": "Provincia del local"
            },
            "distrito": {
              "type": "string",
              "description": "Distrito del local"
            },
            "direccion": {
              "type": "string",
              "description": "Dirección específica"
            },
            "direccion_completa": {
              "type": "string",
              "description": "Dirección completa, incluyendo distrito, provincia y departamento"
            },
            "ubigeo_sunat": {
              "type": "string",
              "description": "Ubigeo según SUNAT"
            },
            "ubigeo": {
              "type": "array",
              "description": "Ubigeo desglosado por componentes",
              "items": {
                "type": "string"
              }
            }
          }
          }
        }
      },
      "example": {
        "status": 200,
        "message": "Exito",
        "data": [
            {
                "codigo": "0003",
                "tipo_establecimiento": "DE. DEPOSITO",
                "actividad_economica": "-",
                "direccion": "MZA. E6 LOTE. 13 URB. PIT PARQUE INDUSTRIAL (MZ. E",
                "direccion_completa": "MZA. E6 LOTE. 13 URB. PIT PARQUE INDUSTRIAL (MZ. E, LA LIBERTAD - TRUJILLO - LA ESPERANZA",
                "departamento": "LA LIBERTAD",
                "provincia": "TRUJILLO",
                "distrito": "LA ESPERANZA",
                "ubigeo_sunat": "130105",
                "ubigeo": [
                    "13",
                    "1301",
                    "130105"
                ]
            },
            {
                "codigo": "0002",
                "tipo_establecimiento": "SU. SUCURSAL",
                "actividad_economica": "-",
                "direccion": "AV. EL EJERCITO NRO. 1020 INT. A BARR. EL MOLINO",
                "direccion_completa": "AV. EL EJERCITO NRO. 1020 INT. A BARR. EL MOLINO, LA LIBERTAD - TRUJILLO - TRUJILLO",
                "departamento": "LA LIBERTAD",
                "provincia": "TRUJILLO",
                "distrito": "TRUJILLO",
                "ubigeo_sunat": "130101",
                "ubigeo": [
                    "13",
                    "1301",
                    "130101"
                ]
            }
        ]
      }
      },
      "ruc-representate": {
        "type": "object",
       "properties": {
         "status": {
           "type": "integer",
           "description": "El código de estado de la respuesta"
         },
         "success": {
           "type": "boolean",
           "description": "El estado de la respuesta  true o false"
         },
         "message": {
           "type": "string",
           "description": "Mensaje de la respuesta"
         },
         "data": {
           "type": "array",
           "description": "Datos detallados de la respuesta",
           "items": {
             "type": "object",
           "properties": {
             "tipo_de_documento": {
               "type": "string",
               "description": "Tipo de documento del representate"
             },
             "numero_de_documento": {
               "type": "string",
               "description": "Numero de documento del representante"
             },
             "nombre": {
               "type": "string",
               "description": "Nombre del representante"
             },
             "cargo": {
               "type": "string",
               "description": "Cargo del representate"
             },
             "fecha_desde": {
               "type": "string",
               "description": "Fecha desde"
             }
           }
           }
         }
       },
       "example": {
        "status": 200,
        "message": "Exito",
        "data": [
            {
                "tipo_de_documento": "DNI",
                "numero_de_documento": "1*****72",
                "nombre": "PAIMO *****O ***NA",
                "cargo": "GERENTE GENERAL",
                "fecha_desde": "30/09/2002"
            }
        ]
       }
       },
       "placa": {
       "type": "object",
      "properties": {
        "status": {
          "type": "integer",
          "description": "El código de estado de la respuesta"
        },
        "success": {
          "type": "boolean",
          "description": "El estado de la respuesta  true o false"
        },
        "message": {
          "type": "string",
          "description": "Mensaje de la respuesta"
        },
        "data": {
          "type": "object",
          "description": "Datos detallados de la respuesta",
          "properties": {
            "placa": {
              "type": "string",
              "description": "Placa del vehiculo"
            },
            "marca": {
              "type": "string",
              "description": "Marca del vehiculo"
            },
            "modelo": {
              "type": "string",
              "description": "Modelo del vehiculo"
            },
            "serie": {
              "type": "string",
              "description": "Serie del vehiculo"
            },
            "color": {
              "type": "string",
              "description": "Color del vehiculo"
            },
            "motor": {
              "type": "string",
              "description": "Motor del vehiculo"
            },
            "vin": {
              "type": "string",
              "description": "VIN del vehiculo"
            }
          }
        }
      },
      "example": {
        "status": 200,
        "message": "Exito",
        "data": {
            "placa": "F3H792",
            "marca": "FIAT",
            "modelo": "FIORINO",
            "serie": "9BD25521A98854312",
            "color": "BLANCO BANCHISA",
            "motor": "8632404",
            "vin": "9BD25521A98854312"
        }
      }
       },
      "licencia-conducir": {
        "type": "object",
       "properties": {
         "status": {
           "type": "integer",
           "description": "El código de estado de la respuesta"
         },
         "success": {
           "type": "boolean",
           "description": "El estado de la respuesta  true o false"
         },
         "message": {
           "type": "string",
           "description": "Mensaje de la respuesta"
         },
         "data": {
           "type": "object",
           "description": "Datos detallados de la respuesta",
           "properties": {
             "numero_documento": {
               "type": "string",
               "description": "Numero de documento"
             },
             "nombres": {
               "type": "string",
               "description": "Nombres"
             },
             "apellido_paterno": {
               "type": "string",
               "description": "Apellido paterno"
             },
             "apellido_materno": {
               "type": "string",
               "description": "Apellido materno"
             },
             "grupo_sanguineo": {
               "type": "string",
               "description": "Grupo sanguineo"
             },
             "donacion_organos": {
               "type": "string",
               "description": "Donación de organos"
             },
             "licencia": {
               "type": "array",
               "description": "Licencias de su dni"
             }
           }
         }
       },
       "example": {
         "status": 200,
         "message": "Exito",
         "data": {
        "numero_documento": "10400310",
        "nombres": "CARLOS EDGARDO",
        "apellido_paterno": "DELGADO",
        "apellido_materno": "RIVERA",
        "grupo_sanguineo": "O+",
        "donacion_organos": "NO",
        "licencia": [
            {
                "numero": "Q10400310",
                "categoria": "A I",
                "fecha_expedicion": "21/03/2017",
                "fecha_vencimiento": "06/03/2027",
                "estado": "VIGENTE",
                "restricciones": "SIN RESTRICCIONES"
            }
        ]
        }
       }
       },
      "cee": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "description": "El código de estado de la respuesta"
          },
          "success": {
            "type": "boolean",
            "description": "El estado de la respuesta  true o false"
          },
          "message": {
            "type": "string",
            "description": "Mensaje de la respuesta"
          },
          "data": {
            "type": "object",
            "description": "Datos detallados de la respuesta",
            "properties": {
              "numero": {
                "type": "string",
                "description": "Numero del cee de la persona"
              },
              "nombres": {
                "type": "string",
                "description": "Nombres de la persona"
              },
              "apellido_paterno": {
                "type": "string",
                "description": "Apellido paterno de la persona"
              },
              "apellido_materno": {
                "type": "string",
                "description": "Apellido materno de la persona"
              }
            }
          }
        },
        "example": {
          "status": 200,
          "message": "Exito",
          "data": {
          "numero": "001077238",
          "nombres": "ARCILA",
          "apellido_paterno": "LUZ CELIA KORINA",
          "apellido_materno": "RIVADENEIRA"
        }
        }
        },
      "tipocambio": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "description": "El código de estado de la respuesta"
          },
          "success": {
            "type": "boolean",
            "description": "El estado de la respuesta  true o false"
          },
          "message": {
            "type": "string",
            "description": "Mensaje de la respuesta"
          },
          "data": {
            "type": "object",
            "description": "Datos detallados de la respuesta",
            "properties": {
              "fecha": {
                "type": "string",
                "description": "Fecha"
              },
              "compra": {
                "type": "string",
                "description": "Precio de compra"
              },
              "venta": {
                "type": "string",
                "description": "Precio de venta"
              }
            }
          }
        },
        "example": {
          "status": 200,
          "message": "Exito",
          "data": {
          "fecha": "2024-04-11",
          "compra": 3.773,
          "venta": 3.781
      }
        }
        },
      "sunat-cpe": {
       "type": "object",
      "properties": {
        "status": {
          "type": "integer",
          "description": "El código de estado de la respuesta"
        },
        "success": {
          "type": "boolean",
          "description": "El estado de la respuesta  true o false"
        },
        "message": {
          "type": "string",
          "description": "Mensaje de la respuesta"
        },
        "data": {
          "type": "object",
          "description": "Datos detallados de la respuesta",
          "properties": {
            "comprobante_estado_codigo": {
              "type": "string",
              "description": "Comprobante estado codigo"
            },
            "comprobante_estado_descripcion": {
              "type": "string",
              "description": "Comprobante estado descripcon"
            },
            "empresa_estado_codigo": {
              "type": "string",
              "description": "Empresa estado codigo"
            },
            "empresa_estado_description": {
              "type": "string",
              "description": "Empresa estado descripcion"
            },
            "empresa_condicion_codigo": {
              "type": "string",
              "description": "Empresa condicion codigo"
            },
            "empresa_condicion_descripcion": {
              "type": "string",
              "description": "Empresa condicion descripcion"
            }
          }
        }
      },
      "example": {
        "status": 200,
        "message": "Exito",
        "data": {
        "comprobante_estado_codigo": "1",
        "comprobante_estado_descripcion": "ACEPTADO",
        "empresa_estado_codigo": "00",
        "empresa_estado_description": "ACTIVO",
        "empresa_condicion_codigo": "00",
        "empresa_condicion_descripcion": "HABIDO"
      }
      }
       },
       "sunat-factura": {
       "type": "object",
      "properties": {
        "status": {
          "type": "integer",
          "description": "El código de estado de la respuesta"
        },
        "success": {
          "type": "boolean",
          "description": "El estado de la respuesta  true o false"
        },
        "message": {
          "type": "string",
          "description": "Mensaje de la respuesta"
        },
        "data": {
          "type": "object",
          "description": "Datos detallados de la respuesta"
        }
      },
      "example": {
        "status": 200,
        "message": "Exito",
        "data": {
          "numeroRuc": "20606066661",
          "razonSocial": "CORPORACION LATINOAMERICANA ECOINDUSTRIAL S.A.C.",
          "razonComercial": "-",
          "tipoComprobante": "01",
          "serieComprobante": "F001",
          "numeroComprobante": 2,
          "subTipoComprobante": "01",
          "nombreCalle": "AV. CARLOS IZAGUIRRE KM. 1369 ZONA A UNA CUADRA DE LA AV UNIVERSITARIA",
          "nombreDistrito": "LIMA",
          "nombreProvincia": "LIMA",
          "nombreDepartamento": "LIMA",
          "codigoMoneda": "PEN",
          "simboloMoneda": "S/",
          "fechaEmision": "25/04/2024",
          "fechaVencimiento": "-",
          "tipoDocumentoCliente": "6",
          "desTipoDocumentoCliente": "RUC",
          "numeroDocumentoCliente": "10476411705",
          "nombreCliente": "ZULOETA CRUZ SEGUNDA JUANITA",
          "observacion": "-",
          "glosa": "-",
          "montoTotalGeneral": 252.03,
          "montoTotalTexto": "SON: DOSCIENTOS CINCUENTA Y DOS Y 03/100 SOLES",
          "totalDescuentos": 0,
          "totalAnticipos": 0,
          "totalISC": 0,
          "totalIGV": 0,
          "totalOtrosCargos": 0,
          "totalOtrosTributos": 0,
          "totalValorVenta": 213.58,
          "totalValorVentaExonerado": 0,
          "totalInafOner": 0,
          "totalGravOner": 213.58,
          "totalValorVentaOperaGratuitas": 0,
          "indicadorEstado": "0",
          "documentoRelacionadoBean": [],
          "detalleComprobanteBean": [
              {
                  "identificador": 1,
                  "descripcion": "Pollo brasa B5",
                  "cantidad": "29.65",
                  "precioUnitario": "8.50000",
                  "codigoItem": "38",
                  "codigoUnidadMedida": "KGM",
                  "unidadMedidaDesc": "KILOGRAMO",
                  "valorVtaUnitario": "7.20"
              }
          ]
      }
      }
       },
       "sunat-boleta": {
       "type": "object",
      "properties": {
        "status": {
          "type": "integer",
          "description": "El código de estado de la respuesta"
        },
        "success": {
          "type": "boolean",
          "description": "El estado de la respuesta  true o false"
        },
        "message": {
          "type": "string",
          "description": "Mensaje de la respuesta"
        },
        "data": {
          "type": "object",
          "description": "Datos detallados de la respuesta"
        }
      },
      "example": {
        "status": 200,
        "message": "Exito",
        "data": {
          "numeroRuc": "20606066661",
          "razonSocial": "CORPORACION LATINOAMERICANA ECOINDUSTRIAL S.A.C.",
          "razonComercial": "-",
          "tipoComprobante": "03",
          "serieComprobante": "B001",
          "numeroComprobante": 2,
          "subTipoComprobante": "01",
          "nombreCalle": "MZA. C LOTE. 9 URB. SANTO DOMINGO 1RA ETAPA FRENTE A LA CARRETERA PANAMERICANA NORTE",
          "nombreDistrito": "PUENTE PIEDRA",
          "nombreProvincia": "LIMA",
          "nombreDepartamento": "LIMA",
          "codigoMoneda": "PEN",
          "simboloMoneda": "S/",
          "fechaEmision": "22/04/2024",
          "fechaVencimiento": "-",
          "tipoDocumentoCliente": "1",
          "desTipoDocumentoCliente": "DNI",
          "numeroDocumentoCliente": "00000000",
          "nombreCliente": "PUBLICO GENERAL",
          "observacion": "-",
          "glosa": "-",
          "montoTotalGeneral": 252.03,
          "montoTotalTexto": "SON: DOSCIENTOS CINCUENTA Y DOS Y 03/100 SOLES",
          "totalDescuentos": 0,
          "totalAnticipos": 0,
          "totalISC": 0,
          "totalIGV": 0,
          "totalOtrosCargos": 0,
          "totalOtrosTributos": 0,
          "totalValorVenta": 213.58,
          "totalValorVentaExonerado": 0,
          "totalInafOner": 0,
          "totalGravOner": 213.58,
          "totalValorVentaOperaGratuitas": 0,
          "indicadorEstado": "0",
          "documentoRelacionadoBean": [],
          "detalleComprobanteBean": [
              {
                  "identificador": 1,
                  "descripcion": "Pollo brasa B5",
                  "cantidad": "29.65",
                  "precioUnitario": "8.50000",
                  "codigoItem": "38",
                  "codigoUnidadMedida": "KGM",
                  "unidadMedidaDesc": "KILOGRAMO",
                  "valorVtaUnitario": "7.20"
              }
          ]
      }
      }
       },
       "sunat-guia": {
        "type": "object",
       "properties": {
         "status": {
           "type": "integer",
           "description": "El código de estado de la respuesta"
         },
         "success": {
           "type": "boolean",
           "description": "El estado de la respuesta  true o false"
         },
         "message": {
           "type": "string",
           "description": "Mensaje de la respuesta"
         },
         "data": {
           "type": "object",
           "description": "Datos detallados de la respuesta"
         }
       },
       "example": {
         "status": 200,
         "message": "Exito",
         "data": {
        "id": "6644e0584375081e918a6e91",
        "codCpe": "09",
        "numRuc": "20538878309",
        "cantidad": null,
        "codTipoCpe": "00",
        "numSerie": "T004",
        "observacion": null,
        "numCpe": 9,
        "codEstado": "02",
        "desEstado": "Baja",
        "emision": {
            "fecEmision": "2024-05-15T00:00:00",
            "indSEE": "2",
            "indOrigen": "3",
            "desNota": null,
            "desHashQr": "dJrFNbxgXQWmXxr4BC1LQMp5vX/Aj8qqj8VGzi8pcO01nPkJ9ZcA6m4wVYrSLKd4xRcw4nizVVaozuYzxhDN9HxRNxqehXMUsbMlOHDb2kc=",
            "desQr": "https://e-factura.sunat.gob.pe/v1/contribuyente/gre/comprobantes/descargaqr?hashqr=dJrFNbxgXQWmXxr4BC1LQMp5vX/Aj8qqj8VGzi8pcO01nPkJ9ZcA6m4wVYrSLKd4xRcw4nizVVaozuYzxhDN9HxRNxqehXMUsbMlOHDb2kc=",
            "receptorObs": null,
            "pse": null,
            "firma": {
                "idCertificado": "34b26f7af41589ac80",
                "digestValue": "4mt0ivPSpPdgqCYBS+fkIMuVKSU=",
                "fecFirma": null
            },
            "numIpCliente": null,
            "numFecEmision": 20240515,
            "numRangoHora": 0
        },
        "emisor": {
            "desNombre": "INVERSIONES E & F AYALA Y ARIAS S.A.C.",
            "numAutorizacionMtc": null,
            "indEncSunNumAutorizacionMtc": null,
            "indSubContratacion": "0",
            "autorizacion": null,
            "subContratador": null
        },
        "traslado": {
            "codMotivoTraslado": "01",
            "desMotivoTraslado": "Venta",
            "desMotivoTrasladoOtros": null,
            "fecInicioTraslado": "2024-05-15T00:00:00",
            "numPlacaVehiculo": null,
            "fecEntrega": null,
            "indModalidadTraslado": "02",
            "desModalidadTraslado": "Privado",
            "indTrasladoVehiculo": "0",
            "indTransbordo": "0",
            "indRetornoVehicEnvEmbVacio": "0",
            "indRetornoVehicVacio": "0",
            "indPagadorFlete": "00",
            "indTrasladoDua": "0",
            "desTrasladoDua": "Parcial",
            "indTrasladoTotalBienes": "0",
            "numBultosPallets": null,
            "desBien": null,
            "codUnidadMedidaPb": "KGM",
            "numPesoBruto": 839.6,
            "numPesoBrutoItemsSel": null,
            "desSustentoPesoBrutoItemsSel": "",
            "contenedores": null,
            "autorizacion": null,
            "bien": [
                {
                    "numOrden": 1,
                    "codTipoDocumento": null,
                    "desCortaTipoDocumento": null,
                    "numSerie": null,
                    "numDocumento": null,
                    "numItem": null,
                    "indBienRegulado": "0",
                    "codBien": "479",
                    "codProductoSunat": null,
                    "codSubPartida": null,
                    "codGtin": null,
                    "desBien": "CHULETA DE LOMO",
                    "codUniMedida": "KGM",
                    "desUniMedida": "KILOGRAMO",
                    "numCantidad": 77.2,
                    "indFrecuente": "0",
                    "docRelacionado": null
                },
                {
                    "numOrden": 2,
                    "codTipoDocumento": null,
                    "desCortaTipoDocumento": null,
                    "numSerie": null,
                    "numDocumento": null,
                    "numItem": null,
                    "indBienRegulado": "0",
                    "codBien": "28",
                    "codProductoSunat": null,
                    "codSubPartida": null,
                    "codGtin": null,
                    "desBien": "MOLIDA ESPECIAL",
                    "codUniMedida": "KGM",
                    "desUniMedida": "KILOGRAMO",
                    "numCantidad": 30,
                    "indFrecuente": "0",
                    "docRelacionado": null
                },
                {
                    "numOrden": 3,
                    "codTipoDocumento": null,
                    "desCortaTipoDocumento": null,
                    "numSerie": null,
                    "numDocumento": null,
                    "numItem": null,
                    "indBienRegulado": "0",
                    "codBien": "17",
                    "codProductoSunat": null,
                    "codSubPartida": null,
                    "codGtin": null,
                    "desBien": "GUISO ESPECIAL",
                    "codUniMedida": "KGM",
                    "desUniMedida": "KILOGRAMO",
                    "numCantidad": 102.7,
                    "indFrecuente": "0",
                    "docRelacionado": null
                },
                {
                    "numOrden": 4,
                    "codTipoDocumento": null,
                    "desCortaTipoDocumento": null,
                    "numSerie": null,
                    "numDocumento": null,
                    "numItem": null,
                    "indBienRegulado": "0",
                    "codBien": "36",
                    "codProductoSunat": null,
                    "codSubPartida": null,
                    "codGtin": null,
                    "desBien": "SANCOCHADO",
                    "codUniMedida": "KGM",
                    "desUniMedida": "KILOGRAMO",
                    "numCantidad": 156.1,
                    "indFrecuente": "0",
                    "docRelacionado": null
                },
                {
                    "numOrden": 5,
                    "codTipoDocumento": null,
                    "desCortaTipoDocumento": null,
                    "numSerie": null,
                    "numDocumento": null,
                    "numItem": null,
                    "indBienRegulado": "0",
                    "codBien": "16",
                    "codProductoSunat": null,
                    "codSubPartida": null,
                    "codGtin": null,
                    "desBien": "GUISO CON HUESO",
                    "codUniMedida": "KGM",
                    "desUniMedida": "KILOGRAMO",
                    "numCantidad": 216.2,
                    "indFrecuente": "0",
                    "docRelacionado": null
                },
                {
                    "numOrden": 6,
                    "codTipoDocumento": null,
                    "desCortaTipoDocumento": null,
                    "numSerie": null,
                    "numDocumento": null,
                    "numItem": null,
                    "indBienRegulado": "0",
                    "codBien": "460",
                    "codProductoSunat": null,
                    "codSubPartida": null,
                    "codGtin": null,
                    "desBien": "PIERNA FRESCA",
                    "codUniMedida": "KGM",
                    "desUniMedida": "KILOGRAMO",
                    "numCantidad": 257.4,
                    "indFrecuente": "0",
                    "docRelacionado": null
                }
            ],
            "partida": {
                "indFrecuente": "0",
                "direccion": {
                    "codUbigeo": "150103",
                    "desDepartamento": "LIMA ",
                    "desProvincia": "LIMA ",
                    "desDistrito": "ATE",
                    "desDireccion": "AV NICOLAS AYLLON 1217",
                    "contribuyente": {
                        "numEstablecimiento": 0,
                        "numRuc": null,
                        "desRuc": null
                    },
                    "puerto": null,
                    "numLatitud": null,
                    "numLongitud": null
                }
            },
            "llegada": {
                "indFrecuente": "0",
                "direccion": {
                    "codUbigeo": "150509",
                    "desDepartamento": "LIMA ",
                    "desProvincia": "CAÑETE ",
                    "desDistrito": "MALA",
                    "desDireccion": "PANAMERICANA SUR KM 90",
                    "contribuyente": {
                        "numEstablecimiento": 0,
                        "numRuc": null,
                        "desRuc": null
                    },
                    "puerto": null,
                    "numLatitud": null,
                    "numLongitud": null
                }
            },
            "pagadorFlete": null,
            "vehiculo": [
                {
                    "indTipoVehiculo": "1",
                    "desTipoVehiculo": "Principal",
                    "numPlaca": "BUI721",
                    "numTucChv": null,
                    "indTucChv": "4",
                    "indEncSunNumTucChv": "0",
                    "indFrecuente": "0",
                    "indEncSunNumPlaca": "0",
                    "autorizacion": null
                }
            ],
            "conductor": [
                {
                    "indTipoOrden": "1",
                    "desTipoOrden": "Principal",
                    "codTipoDocIdentidad": "1",
                    "desTipoDocIdentidad": "DOCUMENTO NACIONAL DE IDENTIDAD",
                    "numDocIdentidad": "40700608",
                    "numLicencia": "Q40700608",
                    "desNombre": "YAÑE GAMONAL YONE",
                    "codEmisorLicencia": null,
                    "indFrecuente": "0",
                    "indEncSunNumLicencia": "1"
                }
            ],
            "proveedor": null,
            "comprador": {
                "codTipoDocIdentidad": "",
                "desTipoDocIdentidad": "",
                "numDocIdentidad": "",
                "desNombre": "",
                "indFrecuente": "0"
            },
            "transportista": null
        },
        "receptor": {
            "codTipoDocIdentidad": "6",
            "desTipoDocIdentidad": "REGISTRO ÚNICO DE CONTRIBUYENTES",
            "numDocIdentidad": "20510631715",
            "desNombre": "S.I.G. SERVICIOS GENERALES E.I.R.L.",
            "indFrecuente": "0"
        },
        "remitente": null,
        "docRelacionado": null,
        "docGrePorEvento": null,
        "baja": {
            "fecRegistro": "2024-05-16T12:11:40",
            "codUsuario": "ERIKASAC",
            "codMotivo": "02",
            "desMotivo": "Con baja - Antes de iniciar el traslado "
        },
        "noConformidad": null,
        "auditoria": {
            "codUsuRegis": "ERIKASAC",
            "fecRegis": "2024-05-15T11:18:32",
            "codUsuModif": "ERIKASAC",
            "fecModif": "2024-05-16T12:11:40",
            "numSchemaVersion": "1.0"
        },
        "desTipoCpe": "sin evento"
    }
       }
        },
      "sunat-guia-xml": {
        "type": "object",
       "properties": {
         "status": {
           "type": "integer",
           "description": "El código de estado de la respuesta"
         },
         "success": {
           "type": "boolean",
           "description": "El estado de la respuesta  true o false"
         },
         "message": {
           "type": "string",
           "description": "Mensaje de la respuesta"
         },
         "data": {
           "type": "object",
           "description": "El xml de la guia"
         }
       },
       "example": {
         "status": 200,
         "message": "Exito",
         "data": "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<DespatchAdvice xmlns=\"urn:oasis:names:specification:ubl:schema:xsd:DespatchAdvice-2\" xmlns:ds=\"http://www.w3.org/2000/09/xmldsig#\" xmlns:cac=\"urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2\" xmlns:cbc=\"urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2\" xmlns:ext=\"urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2\"><ext:UBLExtensions><ext:UBLExtension><ext:ExtensionContent><ds:Signature Id=\"GreenterSign\"><ds:SignedInfo><ds:CanonicalizationMethod Algorithm=\"http://www.w3.org/TR/2001/REC-xml-c14n-20010315\"/><ds:SignatureMethod Algorithm=\"http://www.w3.org/2000/09/xmldsig#rsa-sha1\"/><ds:Reference URI=\"\"><ds:Transforms><ds:Transform Algorithm=\"http://www.w3.org/2000/09/xmldsig#enveloped-signature\"/></ds:Transforms><ds:DigestMethod Algorithm=\"http://www.w3.org/2000/09/xmldsig#sha1\"/><ds:DigestValue>a2JvljyHUM4Wl10L4zGoU5YdDW0=</ds:DigestValue></ds:Reference></ds:SignedInfo><ds:SignatureValue>J17HBwe+LTYWrd2vU/eFxVkyF7Yk18o0YOKkMEB768IQEyg9TfYmBHj2YxG72HZWMpWPvClw1je1oPfGEeaRXxlMMIBctS7V6fjE9f4E93SChYyes5GX4e6ntGImqAout8k1KHvJJQtsIFdkbQ8Pyh6KNJLM81k3zY7agD5240TuPHQj9jurOgV8hVgHv/La5JAX7OVNb60xPY/ViAGaMYasO10f3rzVrwZjwuFYkZikpVfCbbL+ms2/6aVr+ye594oWxcb5tJxDE3K1K1NQcwDDYSgzzFeJ7nNrCHBHXBzWopoK6CGhrVu7y5n6emUQLZi/GclXzwlCWwHcFnTTJw==</ds:SignatureValue><ds:KeyInfo><ds:X509Data><ds:X509Certificate>MIIFdjCCBF6gAwIBAgIIQh/7ReRSl5swDQYJKoZIhvcNAQELBQAwRjEkMCIGA1UEAwwbTGxhbWEucGUgU0hBMjU2IFN0YW5kYXJkIENBMREwDwYDVQQKDAhMTEFNQS5QRTELMAkGA1UEBhMCUEUwHhcNMjMxMTIxMjExNzIwWhcNMjUxMTIwMjExNzAwWjCCAR8xKDAmBgNVBAkMH0FWLiBKQVZJRVIgUFJBRE8gT0VTVEUgTlJPLiA0MjUxHzAdBgkqhkiG9w0BCQEWEGpwZW5hQHNndC5jb20ucGUxLDAqBgNVBAMMI1NPRlRXQVJFIERFIEZBQ1RVUkFDSU9OIEVMRUNUUk9OSUNBMSwwKgYDVQQLDCNGQUNUVVJBIEVMRUNUUk9OSUNBIFJVQyAyMDM1NDgyNjc5OTEhMB8GA1UECwwYVmFsaWRhZG8gcG9yIExsYW1hLnBlIEVSMTcwNQYDVQQKDC5TRVJWSUNJT1MgR0VORVJBTEVTIERFIFRFTEVDT01VTklDQUNJT05FUyBFSVJMMQ0wCwYDVQQHDARMSU1BMQswCQYDVQQGEwJQRTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAJn7Uym9UQ1po3+pnERLVi0m5xWTX+ewt3naYFEwHiGw2qmIkWVNT8OIv/TF7RIPSdtB+qOvOrX3DfaN+8m4GM+4bTLGrf4M0DIjlEM1DzjOA/kH8zv1VYTZ1/Sba0UQH8FRQ9GNRwE0LAhvcsAVcQfv2LFgpxjvTGadLhLH1Qnd4OOrGgV4ORoFQz1KQcG5eUBF0iBaaw8m6l7265W+4Rucz2Nov9yoeNa65usE/9hquLwsyRaof32DE8tE4SX7VgF/xpmj6NV6FUC0yh9WPXz5CQm8sROE/B6kBvxBKMwTOsEERYYkkW1IQdx12TtcXlNWTz1iCvMWAfFyhCqEKyUCAwEAAaOCAYswggGHMAwGA1UdEwEB/wQCMAAwHwYDVR0jBBgwFoAUXYhbretl+/5oouTZbz1XcqLvK5kwZwYIKwYBBQUHAQEEWzBZMDUGCCsGAQUFBzAChilodHRwOi8vY3J0LmxsYW1hLnBlL2xsYW1hcGVzdGFuZGFyZGNhLmNlcjAgBggrBgEFBQcwAYYUaHR0cDovL29jc3AubGxhbWEucGUwGwYDVR0RBBQwEoEQanBlbmFAc2d0LmNvbS5wZTBGBgNVHSAEPzA9MDsGDSsGAQQBg5d3AAEAAwEwKjAoBggrBgEFBQcCARYcaHR0cHM6Ly9sbGFtYS5wZS9yZXBvc2l0b3J5LzAdBgNVHSUEFjAUBggrBgEFBQcDAgYIKwYBBQUHAwQwOgYDVR0fBDMwMTAvoC2gK4YpaHR0cDovL2NybC5sbGFtYS5wZS9sbGFtYXBlc3RhbmRhcmRjYS5jcmwwHQYDVR0OBBYEFGc6F7h9NtdjZs3Lla192d5G2ga8MA4GA1UdDwEB/wQEAwIGwDANBgkqhkiG9w0BAQsFAAOCAQEAcCfvIc6EtxUga+jm9NosQe63RFjmYQTyKc+CZolotO9M+AH842YxOIZfJa6pLIsrMaaEdDlFK/KUcbzwb0aiVRxv74cq5sqgz9Sfroc7RpoIUqZ6CJPUbc3dbKFoam2qXpNn7U9xCv781/RLVliNVUR1nB6DYh2CooYkIP36LFpca1C8K1fCGP+Jed5pm6o0xPSAkjqJTIm9fOS11HLf03+vgHWDrRw7yD59BSTwotXOq2kCt9ygfiL5RkuE6miVIbkdmhbtqUCNoZ6iiocWSPyxXJCjczwHu2b0ZaRYHTnA3LqeI1f+fScooKDlvPOOfveS3b9uQ87yJtk1GBHR+Q==</ds:X509Certificate><ds:X509Certificate>MIIDoDCCAoigAwIBAgIIPqXfSPJocNIwDQYJKoZIhvcNAQELBQAwOzEZMBcGA1UEAwwQTGxhbWEucGUgUm9vdCBDQTERMA8GA1UECgwITExBTUEuUEUxCzAJBgNVBAYTAlBFMB4XDTE4MDcxODIzMDUxOFoXDTM4MDcxMzIyNTQyMVowRjEkMCIGA1UEAwwbTGxhbWEucGUgU0hBMjU2IFN0YW5kYXJkIENBMREwDwYDVQQKDAhMTEFNQS5QRTELMAkGA1UEBhMCUEUwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC70HwZu6wAQIYR7TMNbYm3KJxv60Ax0FpARIt+4hGOrK6LN0OBPQA1BUJqg27zrPx2PG5J1C4aqvd6QgyeQJC3hdcsThYMQbq62aPjQaVWlY5dPWNtWRhi/3YCXNyLlMs16TZfRx5N/KvgJSBrAYRzPMqRhontKmrxKzjZTl29EfyBdLu5WwGv5Z2sKmoArp0Te/Np/9+ND4mopl7wsgBWfv8TxCrWhkAxvLm2R4psRO6eJgCJYWN7AyzkRH3YR68yrfz2bg3VFPiVVydgSrEYUFwKXCuKZfx2jOCDIPjf8L11nuhDL0U0b4ko5HgQ4SSPqlWYtKMbXjI5AJEvdzjTAgMBAAGjgZwwgZkwDwYDVR0TAQH/BAUwAwEB/zAfBgNVHSMEGDAWgBSmg0TNVZeEH4gJ4a115ylaX5j3pDA2BgNVHR8ELzAtMCugKaAnhiVodHRwOi8vY3JsLmxsYW1hLnBlL2xsYW1hcGVyb290Y2EuY3JsMB0GA1UdDgQWBBRdiFut62X7/mii5NlvPVdyou8rmTAOBgNVHQ8BAf8EBAMCAYYwDQYJKoZIhvcNAQELBQADggEBAGntu+P4r1+TOjWWL0wmGS9pvQmqleKTwyXaKCeBdx6Jkg+JzvEnvetxZ3qvZ54RPUH5bAo/Hi504wungaDrFys6D49b8NYay8X7vCpY/UQU8aspU4JRF6cNLyQr4tfwF3raoRn12sOuOd342bGdmgsqxzGXzioT3m7/xX7Xo+mnPa3nP6F211pOZ/I22s2+FackqXcyHX59JxBvZ0HXZ7FWPlmOWbVq/vHTkVpaaG++KLCbr64cP3M9D98tawgjp4T6sns2yrBw8Jr4QMymF+8JBJkUZJP5cWrvJu522BhDwMJoj7LFtlq+4Anb2jy3L+KVlEvUzsxUOADQEpeb9hc=</ds:X509Certificate><ds:X509Certificate>MIIDWzCCAkOgAwIBAgIIOixEWV433QMwDQYJKoZIhvcNAQELBQAwOzEZMBcGA1UEAwwQTGxhbWEucGUgUm9vdCBDQTERMA8GA1UECgwITExBTUEuUEUxCzAJBgNVBAYTAlBFMB4XDTE4MDcxODIyNTQyMVoXDTM4MDcxMzIyNTQyMVowOzEZMBcGA1UEAwwQTGxhbWEucGUgUm9vdCBDQTERMA8GA1UECgwITExBTUEuUEUxCzAJBgNVBAYTAlBFMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAsUhv+jmfYMop5RUOZUZYaDwJtREVNMrpFu8Wu1ybT94LFGO8h11bwnOy92R+ARPSm/JF8jzBu/M7/JKQqe1dUEOaleWvNRMko2CTvAdkkmWdaAQloR+D5N8DgoAz/XStGwOUInuKCj3NDfdmN81j88hicK1/jsf0Cm6e8eIBdtpkwwwJPuQQMU4sFK1sAFC453etEVCoXVYjELUVdlm6ZaB0otpqYG7xiKRL2iaxGOxX7U7jUoYMKQMKfD5foiNyJojNq3wFpkZiifvqf6oYxw41w8OJ0tPvEDVCJKn0bouOF2fctVsrvB6uiURvIuiVJpHOwggcjQA32lo+tGuYpwIDAQABo2MwYTAPBgNVHRMBAf8EBTADAQH/MB8GA1UdIwQYMBaAFKaDRM1Vl4QfiAnhrXXnKVpfmPekMB0GA1UdDgQWBBSmg0TNVZeEH4gJ4a115ylaX5j3pDAOBgNVHQ8BAf8EBAMCAYYwDQYJKoZIhvcNAQELBQADggEBAHAm1Fne6tOL/uLyfmT/g3D1rnp9iT0mFPTAy/FC/zYLCFacpeZYgxnH5zFkJXRSCmFAf05M2tbUulIGTZCs+z5La0VdYnwAp7DovKuKU81rUHp5QXmFc4W6rMqZXtLg3kzfi2y9KfTeiZjE/MiDWPP65XlF7xhC3vEOzh3yP8kRkSb4SUbRReV+ZBb2un4eM3exFYc+RckIjA9PyMBK75XPi0VeJm4qWoYYuQr/4cro76AyyIJTp9IsUWP53Gzqbl4ZdBuFPJoF6FkTs1Wbg39IEDBiKtkn6pUtCq6bIvuygYsPCQoDkeFRKYcyUCuvoA/3akhr3u8l7aTqTn8A6G0=</ds:X509Certificate></ds:X509Data></ds:KeyInfo></ds:Signature></ext:ExtensionContent></ext:UBLExtension></ext:UBLExtensions><cbc:UBLVersionID>2.1</cbc:UBLVersionID><cbc:CustomizationID>2.0</cbc:CustomizationID><cbc:ID>T002-3</cbc:ID><cbc:IssueDate>2024-06-25</cbc:IssueDate><cbc:IssueTime>00:00:00</cbc:IssueTime><cbc:DespatchAdviceTypeCode listAgencyName=\"PE:SUNAT\" listName=\"Tipo de Documento\" listURI=\"urn:pe:gob:sunat:cpe:see:gem:catalogos:catalogo01\">09</cbc:DespatchAdviceTypeCode><cbc:Note><![CDATA[ATENCION SANTOS ARTEAGA RODRIGUEZ 17948242]]></cbc:Note><cac:Signature><cbc:ID>20354826799</cbc:ID><cac:SignatoryParty><cac:PartyIdentification><cbc:ID>20354826799</cbc:ID></cac:PartyIdentification><cac:PartyName><cbc:Name><![CDATA[SERVICIOS GENERALES DE TELECOMUNICACIONES EIRL]]></cbc:Name></cac:PartyName></cac:SignatoryParty><cac:DigitalSignatureAttachment><cac:ExternalReference><cbc:URI>#GREENTER-SIGN</cbc:URI></cac:ExternalReference></cac:DigitalSignatureAttachment></cac:Signature><cac:DespatchSupplierParty><cac:Party><cac:PartyIdentification><cbc:ID schemeID=\"6\" schemeName=\"Documento de Identidad\" schemeAgencyName=\"PE:SUNAT\" schemeURI=\"urn:pe:gob:sunat:cpe:see:gem:catalogos:catalogo06\">20354826799</cbc:ID></cac:PartyIdentification><cac:PartyLegalEntity><cbc:RegistrationName><![CDATA[SERVICIOS GENERALES DE TELECOMUNICACIONES EIRL]]></cbc:RegistrationName></cac:PartyLegalEntity></cac:Party></cac:DespatchSupplierParty><cac:DeliveryCustomerParty><cac:Party><cac:PartyIdentification><cbc:ID schemeID=\"6\" schemeName=\"Documento de Identidad\" schemeAgencyName=\"PE:SUNAT\" schemeURI=\"urn:pe:gob:sunat:cpe:see:gem:catalogos:catalogo06\">20354826799</cbc:ID></cac:PartyIdentification><cac:PartyLegalEntity><cbc:RegistrationName><![CDATA[SERVICIOS GENERALES DE TELECOMUNICACIONES EIRL]]></cbc:RegistrationName></cac:PartyLegalEntity></cac:Party></cac:DeliveryCustomerParty><cac:Shipment><cbc:ID>SUNAT_Envio</cbc:ID><cbc:HandlingCode listAgencyName=\"PE:SUNAT\" listName=\"Motivo de traslado\" listURI=\"urn:pe:gob:sunat:cpe:see:gem:catalogos:catalogo20\">04</cbc:HandlingCode><cbc:GrossWeightMeasure unitCode=\"KGM\">250.000</cbc:GrossWeightMeasure><cbc:SpecialInstructions>SUNAT_Envio_IndicadorTrasladoVehiculoM1L</cbc:SpecialInstructions><cac:ShipmentStage><cbc:TransportModeCode listName=\"Modalidad de traslado\" listAgencyName=\"PE:SUNAT\" listURI=\"urn:pe:gob:sunat:cpe:see:gem:catalogos:catalogo18\">01</cbc:TransportModeCode><cac:TransitPeriod><cbc:StartDate>2024-06-25</cbc:StartDate></cac:TransitPeriod></cac:ShipmentStage><cac:Delivery><cac:DeliveryAddress><cbc:ID schemeAgencyName=\"PE:INEI\" schemeName=\"Ubigeos\">130105</cbc:ID><cbc:AddressTypeCode listID=\"20354826799\">00003</cbc:AddressTypeCode><cac:AddressLine><cbc:Line>MZA. E6 LOTE. 13 URB. PIT PARQUE INDUSTRIAL (MZ. E-6 LOTE 13 Y 14)</cbc:Line></cac:AddressLine></cac:DeliveryAddress><cac:Despatch><cac:DespatchAddress><cbc:ID schemeAgencyName=\"PE:INEI\" schemeName=\"Ubigeos\">130101</cbc:ID><cbc:AddressTypeCode listID=\"20354826799\">00002</cbc:AddressTypeCode><cac:AddressLine><cbc:Line>AV. JAVIER PRADO OESTE N° 425 - SAN ISIDRO - LIMA - LIMA</cbc:Line></cac:AddressLine></cac:DespatchAddress></cac:Despatch></cac:Delivery></cac:Shipment><cac:DespatchLine><cbc:ID>1</cbc:ID><cbc:DeliveredQuantity unitCode=\"NIU\">2.00</cbc:DeliveredQuantity><cac:OrderLineReference><cbc:LineID>1</cbc:LineID></cac:OrderLineReference><cac:Item><cbc:Description><![CDATA[PANTALLA LCD 55\"]]></cbc:Description><cac:SellersItemIdentification><cbc:ID>101</cbc:ID></cac:SellersItemIdentification></cac:Item></cac:DespatchLine><cac:DespatchLine><cbc:ID>2</cbc:ID><cbc:DeliveredQuantity unitCode=\"NIU\">1.00</cbc:DeliveredQuantity><cac:OrderLineReference><cbc:LineID>2</cbc:LineID></cac:OrderLineReference><cac:Item><cbc:Description><![CDATA[CAJA DE DOCUMENTOS]]></cbc:Description><cac:SellersItemIdentification><cbc:ID>102</cbc:ID></cac:SellersItemIdentification></cac:Item></cac:DespatchLine></DespatchAdvice>\n"
         }
        },
      "error": {
        "required": [
          "status",
          "message",
          "success"
        ],
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        },
        "example": {
        "status": 400,
        "success": false,
        "message": "Bad Request"
      }
      },
      "PostCPE": {
        "type": "object",
        "properties": {
          "ruc_emisor": {
            "type": "string",
            "nullable": true
          },
          "codigo_tipo_documento": {
            "type": "string",
            "nullable": true
          },
          "serie_documento": {
            "type": "string",
            "nullable": true
          },
          "numero_documento": {
            "type": "string",
            "nullable": true
          },
          "fecha_emision": {
            "type": "string",
            "nullable": true
          },
          "total": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}